/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  padding: 30px; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(200px); }
  100% {
    opacity: 1;
    transform: translateY(100); } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777777; }

.heading-primary {
  color: white;
  text-transform: uppercase;
  margin-bottom: 60px; }
  .heading-primary--main {
    display: block;
    font-weight: 300;
    font-size: 60px;
    letter-spacing: 35px;
    animation-name: moveInLeft;
    animation-duration: 1s; }
  .heading-primary--sub {
    display: block;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 17.5px;
    animation: moveInRight 1s; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-text-center {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 5rem; }

.u-margin-bottom-small {
  margin-bottom: 1rem; }

.u-margin-bottom-medium {
  margin-bottom: 2.5rem; }

.u-margin-top-big {
  margin-top: 5rem; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-features {
  padding: 14rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.7), rgba(40, 180, 133, 0.7)), url(../../img/nat-4.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  transform: skewY(-7deg);
  margin-top: -8rem; }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 5rem 0;
  margin-top: -12rem; }

.section-stories {
  position: relative;
  padding: 10rem 0; }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url(../../img/nat-10.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.5);
  height: 45rem;
  /* or use 100% same as cover*/ }
  .book__form {
    width: 50%;
    padding: 6rem; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.7), rgba(40, 180, 133, 0.7)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 40px;
    left: 40px; }
  .header__logo {
    height: 35px; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 *6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 *6rem) / 4); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 *6rem); }

.navigation__checkbox {
  visibility: hidden; }

.navigation__button {
  background-color: white;
  height: 7rem;
  width: 7rem;
  top: 6rem;
  right: 6rem;
  position: fixed;
  border-radius: 50%;
  z-index: 2000;
  text-align: center;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5); }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 1000;
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  background-image: radial-gradient(#7ed56f, #28b485); }

.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-size: 230%;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  transition: all 0.3s; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #28b485;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0; }
  .navigation__icon::before {
    top: -1rem; }
  .navigation__icon::after {
    top: 1rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1.2rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1.2rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
  border: none;
  cursor: pointer; }

.btn-white {
  background-color: white;
  color: #777777; }
  .btn-white::after {
    background-color: white; }
  .btn-white-animation {
    animation: moveInButton 0.7s 0.5s backwards; }

.btn-green {
  background-color: #55c57a;
  color: white; }
  .btn-green::after {
    background-color: #55c57a; }
  .btn-green-animation {
    animation: moveInButton 0.7s 0.5s backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 16px;
  color: #28b485;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #28b485;
  padding: 3px; }

.btn-text:hover {
  background-color: #28b485;
  color: white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(0px); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 1rem; }
    .composition__photo-p1 {
      left: 0;
      top: -2rem; }
    .composition__photo-p2 {
      right: 0;
      top: 2rem; }
    .composition__photo-p3 {
      left: 15%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #7ed56f;
      transform: scale(1.1);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.4);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95) translateX(-1px); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 0.3s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.05); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 35rem; }
  .card__side {
    height: 35rem;
    transition: all 0.8s ease;
    position: absolute;
    width: 75%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    top: 0;
    left: 0; }
    .card__side--front {
      background-color: white; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to bottom right, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to bottom right, #7ed56f, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to bottom right, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    background-size: cover;
    height: 15rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    background-blend-mode: screen; }
    .card__picture--1 {
      background-image: linear-gradient(to bottom right, #ffb900, #ff7730), url(../../img/nat-5.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to bottom right, #7ed56f, #28b485), url(../../img/nat-6.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to bottom right, #2998ff, #5643fa), url(../../img/nat-7.jpg); }
  .card__heading {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    position: absolute;
    top: 8rem;
    right: 2rem;
    text-align: right; }
  .card__heading-span {
    padding: 1rem 1.3rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to bottom right, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to bottom right, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details ul {
    list-style: none;
    width: 60%;
    margin: 0 auto; }
    .card__details ul li {
      text-align: center;
      font-size: 1.3rem;
      padding: 0.8rem; }
      .card__details ul li:not(:last-child) {
        border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%; }
  .card__price-box {
    text-align: center;
    color: white;
    margin-bottom: 4rem; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 4rem;
    font-weight: 200; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  padding: 4rem 7rem 6rem 9rem;
  font-size: 16px;
  transform: skewX(-12deg); }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg); }
  .story__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.5); }
  .story__text {
    transform: skewX(12deg); }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.3s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    opacity: 1;
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1000;
  opacity: 0.15;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.form__input {
  font-size: 14px;
  font-family: inherit;
  padding: 1.5rem 2rem;
  color: inherit;
  border-radius: 2px;
  border: none;
  background-color: rgba(255, 255, 255, 0.7);
  border-bottom: 3px solid transparent;
  width: 80%;
  display: block;
  transition: all 0.3s; }
  .form__input::-webkit-input-placeholder {
    color: #999; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    border-bottom: 3px solid #7ed56f; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }

.form__label {
  font-size: 12px;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__radio-group {
  width: 49%;
  display: inline-block; }

.form__radio-label {
  font-size: 16px;
  cursor: pointer;
  padding-left: 5rem;
  position: relative; }

.form__radio-input {
  display: none; }

.form__radio-button {
  height: 2.5rem;
  width: 2.5rem;
  border: 5px solid #7ed56f;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -0.5rem;
  left: 0; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    background-color: #7ed56f;
    opacity: 0;
    transition: opacity 0.1s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 6rem; }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    border-top: solid;
    padding-top: 2rem;
    display: inline-block; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 3rem; }
  .footer__link:link, .footer__link:visited {
    color: #eee;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block; }
  .footer__link:hover, .footer__link:active {
    color: #7ed56f;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.7); }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.3s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup__close:link, .popup__close:visited {
    color: black;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s; }
  .popup__close:hover {
    color: #7ed56f; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: white;
    border-radius: 3px;
    display: table;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2); }
  .popup__left {
    width: 33.3333333%;
    display: table-cell; }
  .popup__right {
    display: table-cell;
    width: 66.6666666%;
    padding: 3rem 5rem;
    vertical-align: middle; }
  .popup__img {
    display: block;
    width: 100%; }
  .popup__text {
    font-size: 14px;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #eee;
    hyphens: auto; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777777; }

.heading-primary {
  color: white;
  text-transform: uppercase;
  margin-bottom: 60px; }
  .heading-primary--main {
    display: block;
    font-weight: 300;
    font-size: 60px;
    letter-spacing: 35px;
    animation-name: moveInLeft;
    animation-duration: 1s; }
  .heading-primary--sub {
    display: block;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 17.5px;
    animation: moveInRight 1s; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }
