/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  padding: 30px; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(200px); }
  100% {
    opacity: 1;
    transform: translateY(100); } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777777; }

.heading-primary {
  color: white;
  text-transform: uppercase;
  margin-bottom: 60px; }
  .heading-primary--main {
    display: block;
    font-weight: 300;
    font-size: 60px;
    letter-spacing: 35px;
    animation-name: moveInLeft;
    animation-duration: 1s; }
  .heading-primary--sub {
    display: block;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 17.5px;
    animation: moveInRight 1s; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-text-center {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 5rem; }

.u-margin-bottom-small {
  margin-bottom: 1rem; }

.u-margin-bottom-medium {
  margin-bottom: 2.5rem; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.7), rgba(40, 180, 133, 0.7)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 40px;
    left: 40px; }
  .header__logo {
    height: 35px; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
  .row .col-1-of-2 {
    width: calc((100% - 2rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 *2rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 *2rem) / 4); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 2rem) / 3) + 2rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 2rem) / 4) + 2 *2rem); }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative; }

.btn-white {
  background-color: white;
  color: #777777; }
  .btn-white::after {
    background-color: white; }
  .btn-white-animation {
    animation: moveInButton 0.7s 0.5s backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 16px;
  color: #28b485;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #28b485;
  padding: 3px; }

.btn-text:hover {
  background-color: #28b485;
  color: white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(0px); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 1rem; }
    .composition__photo-p1 {
      left: 0;
      top: -2rem; }
    .composition__photo-p2 {
      right: 0;
      top: 2rem; }
    .composition__photo-p3 {
      left: 15%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #7ed56f;
      transform: scale(1.1);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.4);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95) translateX(-1px); }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777777; }

.heading-primary {
  color: white;
  text-transform: uppercase;
  margin-bottom: 60px; }
  .heading-primary--main {
    display: block;
    font-weight: 300;
    font-size: 60px;
    letter-spacing: 35px;
    animation-name: moveInLeft;
    animation-duration: 1s; }
  .heading-primary--sub {
    display: block;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 17.5px;
    animation: moveInRight 1s; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }
