/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
@import "./abstracts/variables";
@import "./abstracts/functions";
@import "./abstracts/mixins";

@import "./base/base";
@import "./base/animations";
@import "./base/typography";
@import "./base/utilities";

@import "./pages/home";

@import "./layout/header";
@import "./layout/grid";
@import "./components/button";
@import "./components/composition";
@import "./components/feature";
@import "./components/card.scss";
@import "./components/story";
@import "./base/typography";
