.btn {
	&:hover {
		transform: translateY(-3px);
		box-shadow: 0 10px 20px rgba(black, 0.2);
	}

	&:active {
		transform: translateY(-1px);
		box-shadow: 0 5px 10px rgba(black, 0.2);
	}

	&::after {
		content: "";
		display: inline-block;
		width: 100%;
		height: 100%;
		border-radius: 100px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all 0.4s;
	}

	&:hover::after {
		transform: scaleX(1.4) scaleY(1.6);
		opacity: 0;
	}

	&,
	&:link,
	&:visited {
		text-transform: uppercase;
		text-decoration: none;
		padding: 15px 40px;
		display: inline-block;
		border-radius: 100px;
		transition: all 0.2s;
		position: relative;

		border: none;
		cursor: pointer;
	}

	&-white {
		background-color: white;
		color: $color-gray;

		&::after {
			background-color: white;
		}
		&-animation {
			animation: moveInButton 0.7s 0.5s backwards;
		}
	}

	&-green {
		background-color: $color-medium-green;
		color: white;

		&::after {
			background-color: $color-medium-green;
		}
		&-animation {
			animation: moveInButton 0.7s 0.5s backwards;
		}
	}
}

.btn-text {
	&:link,
	&:visited {
		font-size: 16px;
		color: $color-dark-green;
		display: inline-block;
		text-decoration: none;
		border-bottom: 1px solid $color-dark-green;
		padding: 3px;
	}

	&:hover {
		background-color: $color-dark-green;
		color: white;
		box-shadow: 0 1rem 2rem rgba(black, 0.2);
		transform: translateY(-2px);
	}

	&:active {
		box-shadow: 0 1rem 2rem rgba(black, 0.2);
		transform: translateY(0px);
	}
}
