body {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: $color-gray;
}

.heading-primary {
	color: white;
	text-transform: uppercase;
	margin-bottom: 60px;

	&--main {
		display: block;
		font-weight: 300;
		font-size: 6rem;
		letter-spacing: 3.5rem;
		animation-name: moveInLeft;
		animation-duration: 1s;

		@include respond(phone) {
			letter-spacing: 1rem;
			font-size: 50px;
		}
	}

	&--sub {
		display: block;
		font-weight: 400;
		font-size: 20px;
		letter-spacing: 17.5px;
		animation: moveInRight 1s;

		@include respond(phone) {
			letter-spacing: 0.5rem;
		}
	}
}

.heading-secondary {
	font-size: 3.5rem;
	text-transform: uppercase;
	font-weight: 700;
	background-image: linear-gradient(to right, $color-light-green, $color-dark-green);
	-webkit-background-clip: text;
	color: transparent;

	@include respond(tab-port) {
		font-size: 3rem;
	}

	@include respond(phone) {
		font-size: 2.8rem;
	}
}

.heading-tertiary {
	font-size: 1.6rem;
	font-weight: 700;
	text-transform: uppercase;
}

.paragraph {
	font-size: 1.6rem;

	&:not(:last-child) {
		margin-bottom: 3rem;
	}
}
